#cardWrapper{
    margin:auto;
    margin-top:0;
    /* width:75%; */
}
.dayCalendarPage{
    border: 1px solid black;
    margin: auto;
    padding: 20px;
    line-height: 2;
    text-align: center;
    margin-top: 5%;
}
#today{
    width:450px;
    z-index:2;
    left:10px;
}
#tomorrow{
    position: absolute;
    z-index: -4;
    background-color: lightskyblue;
}
#yesterday{
    position: absolute;
    z-index: -3;
    background-color: lightgray;
}
.dateHeading{
    font-weight: bold;
    /* border-bottom: 5px dashed black; */
}

.dayHeader{
    font-weight: bold;
    font-size:small;    
}
.calendarDay{
    border:1px solid black;
    border-radius: 15px;
}
.weekend{
    background-color: lightskyblue;
}
.studentList{
    font-size:small;
    line-height: 1.4;
    padding:0px;
    margin:2px;
}


/* For some reason, this wasn't making it to the page
from bootstrap's css */
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default.active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}